/* GENERAL SETTINGS */
* {
  box-sizing: border-box;
  margin: 0;
}
.mrg-btm {
  margin-bottom: 15px;
}

.center {
  width: 50%;
  margin: auto;
  /* border: 2px solid black; */
}
/* /GENERAL SETTINGS */
/* HEADER */

.hero {
  background-color: #4ea0ff;
  height: 80px;
  background-image: url(../img/pattern.png);
  background-size: 50%;
  background-repeat: repeat;
  text-align: left;
  /* position: relative; */
}

.logo-hero {
  width: 25%;
  margin-top: 40px;
  /* position: absolute;
  bottom: 5px;
  left: 10px; */
}

/* .space {
  height: 45%;
} */

/* /HEADER */

/* MAIN */
/* Title section */

h1 {
  font-weight: 700;
}

.text-color-gray {
  color: rgba(119, 119, 119, 0.8);
}

.author {
  text-decoration: none;
  color: #20a9e5;
}

.date {
  font-size: 12px;
}
/* Title section */

/* Photo section */
.tim-img-1 {
  width: 55%;
  height: 200px;
}
.tim-img-2 {
  width: 44%;
  height: 200px;
}

.text-small {
  font-size: 12px;
}
/* /Photo section */
/* Paragraph section */

.bg-yellow {
  background-color: yellow;
}
.paragraph-list {
  padding-left: 20px;
}
/* /Paragraph section */

/* Table section */
table {
  text-align: justify;
  width: 100%;
  border-collapse: collapse;
}
th {
  height: 10px;
  background-color: #20a9e5;
  color: white;
}
td {
  vertical-align: middle;
  height: 30%;
  padding-right: 5px;
}
.td-large {
  width: 20%;
}
.light-blue {
  background-color: #b1e5f2;
}
/* /MAIN */
